@model IEnumerable<IMageCurd.Models.employee>

@{
              

                ViewBag.Title = "Index";
}
<style>
    #main {
        margin: 20px;
        border: none;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .imgbox {
        margin: 10px;
        height: 300px;
        width: 500px;
        border-radius: 20px;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .card-title{
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size:28px;
        font-style:oblique;
    }
    .card-text {
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 18px;
        font-style: oblique;
    }
</style>
<h2 class="text-center">All Post Here</h2>
@Html.Raw(TempData["CreateMessage"])
@Html.Raw(TempData["UpdateMessage"])
<hr />

<p>

    @Html.ActionLink("Create New", "Create", new { }, new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.degisnation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.image_path)
        </th>
        <th>Action</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.degisnation)
            </td>
            <td>
                <img src="@Url.Content(item.image_path)" height="50" width="50" />
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }, new { @class = "btn btn-success" }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }, new { @class = "btn btn-info" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>




@foreach (var item in Model)
{
    <div class="card mb-8" id="main">
        <div class="row g-0">
            <div class="col-md-8">
                <img src="@Url.Content(item.image_path)" class="img-fluid rounded-start imgbox"   />
            </div>
            <div class="col-md-4">
                <div class="card-body">
                    <h5 class="card-title">  @Html.DisplayFor(modelItem => item.name)</h5>
                    <p class="card-text"> @Html.DisplayFor(modelItem => item.degisnation)</p>
                    <p class="card-text">
                        <small class="text-body-secondary">

                            @Html.ActionLink("Edit", "Edit", new { id = item.id }, new { @class = "btn btn-success" }) |
                            @Html.ActionLink("Details", "Details", new { id = item.id }, new { @class = "btn btn-info" }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.id }, new { @class = "btn btn-danger" })
                            

                        </small></p>
                </div>
            </div>
        </div>
    </div>
}